# macOS
.DS_Store

# Node artifacts
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.exp
*.lib
*.exe

# Grammar volatiles
*.obj
*.o
